.EventManager {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
  
.heading {
    text-align: center;
}
  
.content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
  
.event-list {
    width: 70%;
}
  
.event-form-manager {
    width: 30%;
}